---
import HeaderLink from './HeaderLink.astro';

import {getLangFromUrl, useTranslations } from '../i18n/utils';
import { languages } from '../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="kids-nav">
	<nav>
        <h2><a href={`/${lang}`}>{t('nav.title')}</a></h2>
        <div>
            <ul>
              {Object.entries(languages).map(([lang, label]) => (
                <li>
                  <a href={`/${lang}/`}>{label}</a>
                </li>
              ))}
            </ul>
        </div>
	</nav>
</header>
<style>
    header {
        width: 100%;
    }

	nav {
        max-width: 1000px;
		display: flex;
		align-items: center;
		justify-content: space-between;
        margin: 0 auto;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
